.navbar-header a {
  color: gray;
  font-size: 17px;
  display: inline-block; }
.navbar-header .navbar-nav {
  float: right; }

.capa {
  background-image: url("../images/sec-2.jpg");
  padding: 0.2em;
  min-height: 100vh;
  text-align: center; }
  .capa .caja-negra {
    padding: 0.2em;
    min-height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 110%;
    width: 100%; }
    .capa .caja-negra .caja {
      padding: 8%; }
      .capa .caja-negra .caja h1 {
        color: white;
        text-shadow: 2px 2px 3px black;
        font-size: 40px;
        font: oblique bold 450% cursive; }
      .capa .caja-negra .caja p {
        color: white;
        text-shadow: 2px 2px 3px black;
        font-size: 17px; }

.fondo-fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center; }

.fotos-byn-texto .foto-byn {
  padding: 2%; }
  .fotos-byn-texto .foto-byn img {
    max-width: 90%; }
.fotos-byn-texto .lado-imagen {
  padding: 2%; }
  .fotos-byn-texto .lado-imagen h1 {
    color: black;
    max-width: 30%;
    padding: 2%; }
  .fotos-byn-texto .lado-imagen p {
    padding: 2%; }
  .fotos-byn-texto .lado-imagen .icono-texto i {
    font-size: 60px;
    display: inline-block;
    color: gray; }
  .fotos-byn-texto .lado-imagen .icono-texto .texto-individual {
    max-width: 87%;
    padding: 5%;
    display: inline-block; }
    .fotos-byn-texto .lado-imagen .icono-texto .texto-individual h6 {
      font-size: 17px; }
    .fotos-byn-texto .lado-imagen .icono-texto .texto-individual p {
      font-size: 15px; }

.works {
  padding: 2%; }
  .works .ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    perspective: 900px; }
    .works .ch-item .ch-info {
      position: absolute;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d; }
      .works .ch-item .ch-info .ch-info-front {
        box-shadow: inset 0 0 0 16px rgba(0, 0, 0, 0.3); }
      .works .ch-item .ch-info .ch-img-1 {
        background-image: url(../images/member7.jpg); }
      .works .ch-item .ch-info .ch-info-back {
        transform: translate3d(0, 0, -220px) rotate3d(1, 0, 0, 90deg);
        background: #000;
        opacity: 0; }
        .works .ch-item .ch-info .ch-info-back h3 {
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 24px;
          margin: 0 15px;
          padding: 60px 0 0 0;
          height: 110px;
          font-family: 'Open Sans', Arial, sans-serif;
          text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3); }
        .works .ch-item .ch-info .ch-info-back p {
          color: #fff;
          padding: 10px 5px;
          font-style: italic;
          margin: 0 30px;
          font-size: 12px;
          border-top: 1px solid rgba(255, 255, 255, 0.5); }
          .works .ch-item .ch-info .ch-info-back p a {
            display: block;
            color: rgba(255, 255, 255, 0.7);
            font-style: normal;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 9px;
            letter-spacing: 1px;
            padding-top: 4px;
            font-family: 'Open Sans', Arial, sans-serif; }
            .works .ch-item .ch-info .ch-info-back p a:hover {
              color: rgba(255, 242, 34, 0.8); }
    .works .ch-item .ch-info > div {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-position: center center;
      transition: all 0.4s linear;
      transform-origin: 50% 0%; }

.know {
  background-color: #C35577; }

.caja2 {
  text-align: center;
  padding-bottom: 5%; }
  .caja2 h1 {
    color: black;
    max-width: 30%;
    padding: 2%; }
  .caja2 .borde-gris {
    background-color: #cccccc;
    border: 1px solid transparent; }
    .caja2 .borde-gris:hover {
      border: 1px solid black;
      background-color: white; }
    .caja2 .borde-gris i {
      font-size: 30px; }
    .caja2 .borde-gris .borde-chico {
      border: 1px solid gray;
      padding: 2%; }
    .caja2 .borde-gris .borde-chico2 {
      float: left;
      border: 1px solid gray;
      padding: 2%;
      padding-left: 9%; }
    .caja2 .borde-gris button {
      background-color: black;
      color: white;
      padding: 2% 33% 2% 32%; }

.contact-us h1 {
  color: black;
  max-width: 30%;
  padding: 2%; }
.contact-us .contactos p {
  color: gray;
  padding: 5%; }
.contact-us .contactos .input-group input {
  border: 1px solid #cccccc;
  margin: 1%;
  width: 770px;
  max-width: 100%; }
.contact-us .contactos .input-group .mensaje {
  height: 70px; }
.contact-us .contactos button {
  background-color: #333333;
  padding-left: 2%;
  padding-right: 2%;
  color: white;
  margin: 2%; }
.contact-us .padin {
  color: gray;
  margin-top: 10%; }
  .contact-us .padin .info h6 p {
    font-size: 12px;
    display: inline-block; }
  .contact-us .padin .info .iconos {
    margin: 2%; }
    .contact-us .padin .info .iconos i {
      margin: 2%; }
  .contact-us .padin .panel {
    margin-left: -17%; }
    .contact-us .padin .panel i {
      background-color: black;
      padding: 2%;
      color: white; }

footer {
  background-color: #cccccc; }
  footer p {
    color: gray;
    font-size: 12px; }
  footer i {
    display: inline-block;
    color: gray;
    padding: 2%; }

/*<i class="fa fa-globe" aria-hidden="true"></i>
<!--<i class="fa fa-coffee" aria-hidden="true"></i>-->*/

/*# sourceMappingURL=main.css.map */
