
.navbar-header{
	a{
		color:gray;
		font-size: $fz-17;
		display: inline-block;
	}
	.navbar-nav{
		float:right;
	}
}


.capa{
	background-image: url("../images/back-lock.jpg");
	@include altura;
	.caja-negra{
		@include altura;
		background-color:rgba(0,0,0,0.6);
		height: 110%;
		width: 100%;
		.caja{
		padding: 8%;
			h1{
				@include sombra-texto;
				font-size:40px;
			}
			p{
				@include sombra-texto;
				font-size: $fz-17;
			}
		}
	}
}

.fondo-fixed{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.fotos-byn-texto{
	@include margen-seccion;
	.foto-byn{
		padding: $pd-2;
		img{
			max-width: 90%;
		}
	}
	.lado-imagen{
		padding: $pd-2;
		h1{
			@include titulos;
		}
		p{
			padding: $pd-2;
		}
		.icono-texto{
			i{
			font-size: 60px;
			display: inline-block;
			color:gray;
			}
			.texto-individual{
			    max-width: 87%;
			    padding: 5%;
			    display: inline-block;
				h6{
					font-size: $fz-17;
				}
				p{
					font-size: $fz-15;
				}
			}
		}	
	}
}

.fotografia-video{
	background-image: url("../images/bg3.jpg");
	@include margen-seccion;
	padding: $pd-2;
	.texto-video{
		max-width: 100%;
		h2{
			@include titulos;
			color:white;
			@include sombra-texto;
		}
		p{
			padding: $pd-2;
			color:white;
			@include sombra-texto;
		}
	}
	video{
		max-width: 100%;
	}
}

.cuadrados{
	@include margen-seccion;
	img{
		max-width: 99%;
		display: inline-block;
		}
	.img-texto{
		.caracteristicas{
			max-width: 99%;
			display: inline-block;
			h6{
				font-size: $fz-15;
				color:black;
				margin-top: $pd-2;
				p{
					color:gray;
					padding: $pd-2;
				}
			}
			.parra{
				text-align:right;
			}
			.iconos-redes{
				i{
					@include iconos;
				}
			}
		}
	}
}

.caja2{
	text-align: center;
	padding-bottom:5%;
	h1{
		@include titulos;
	}
	.borde-gris{
		background-color:$gris-claro;
		border:1px solid transparent;
		&:hover{
			border:1px solid black;
			background-color:white;
		}
		i{
			font-size: 30px;
		}
		.borde-chico{
			@include borde-gris;

		}
		.borde-chico2{
			float:left;
			@include borde-gris;
			padding-left: 9%;

		}
		button{
			background-color:black;
			color: white;
			padding: 2% 33% 2% 32%;
		}
	}
}

.contact-us{
	h1{
		@include titulos;
	}
	.contactos{
		p{
			color:gray;
			padding: 5%;
		}
		.input-group{
			input{
				border:1px solid $gris-claro;
				margin:1%;
				width: 770px;
				max-width: 100%;
			}
			.mensaje{
				height: 70px;
			}
		}
		button{
			background-color:#333333;
			padding-left:$pd-2;
			padding-right: $pd-2;
			color:white;
			margin:$pd-2;
		}
	}
	.padin{
		color:gray;
		margin-top:10%;
		.info{
			h6{
				p{
					font-size: 12px;
					display: inline-block;
				}
			}
			.iconos{
				margin:$pd-2;
				i{
					margin:$pd-2;
				}
			}
		}
		.panel{
			    margin-left: -17%;
			i{
				background-color:black;
				padding: $pd-2;
				color:white;
			}
		}
	}
}

footer{
	background-color:$gris-claro;
	p{
		color:gray;
		font-size: 12px;
	}
	i{
		@include iconos;
	
	}
}