@mixin sombra-texto() {
	color:white;
	text-shadow: 2px 2px 3px black;
}

@mixin titulos() {
	color:black;
	max-width: 30%;
	padding:$pd-2;
}

@mixin altura() {
	padding: 0.2em;
	min-height: 100vh;
	text-align: center;
}

@mixin iconos() {
	display: inline-block;
	color:gray;
	padding: $pd-2;
}

@mixin borde-gris() {
	border:1px solid gray;
	padding: $pd-2;
}